<!doctype html>
<html>
<% include header %>
<body>
<% include navbar %>
<div class="container">
	<p>
	blah blah blah discounts! make me look pretty! hahahah
	</p>
	<p><a href="/">Go back</a>.</p>
</div>

</body>
</html>