<!doctype html>
<html>
<% include header %>
<body>
<% include navbar %>
<div id="anything">

	<div class="history">
		<h1>History </h1>
		<% if (results.length > 0) { %>
				<a href="javascript:window.print()" class="btn btn-default" id="printButton">
				Print this page</a>
		<% } else { %>
			<h4>&nbsp &nbsp &nbsp &nbsp You haven't searched anything yet! </h4>
		<% } %>	
	</div>		
	<!-- loop through all questions -->
	<% for (var i = 0; i < results.length; ++i) { %>
		<div class="history">
			<h3><%= results[i].question %> </h3>
			<% var ans = JSON.parse(results[i].answer); %>
			<ul>
				<!-- Display all answers saved -->
				<% for (var j = 0; j < ans.length; ++j) { %>
				<li>
					<%= ans[j].text %>
					<br>
					Confidence: <%= (ans[j].value * 100).toFixed(2) %> %
				</li>
				<% } %>

			</ul>

		</div>
	<% } %>
</div>
</body>
</html>