<!DOCTYPE html>
<html lang="en">
<% include header %>
<body>
	<% include navbar %>

    <div class="main">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="row">
					<div class="page-header">
						<h2>
							Divorcesay
							<h4>Ask Questions. Get information. Discover Insights.</h4>
						</h2>
					</div>
				</div>
				<div class="row">
					<form id="searchForm" class="form-inline" role="form"
						target="form-iframe">
						<div class="form-group">
							<div id="sampleQuestions">
								<input id="searchTerm" x-webkit-speech="x-webkit-speech"
									class="form-control"
									placeholder="Ask Watson about divorce in a Natural Language.">
								<button type="submit" id="submitSearchTerm"
									class="btn btn-lg btn-primary ladda-button"
									data-style="expand-right">
									<span class="ladda-label">Ask Watson</span>
								</button>
	<!-- <a 
	class="btn bton-lg btn-primary dropdown-toggle dropDownSampleQuestion"
	data-toggle="dropdown" href="#"> <span class="caret"></span>
	</a> -->
								<ul class="dropdown-menu">
								</ul>
							</div>
						</div>
					</form>
				</div>
				<div class="row">
					<div id="answerCarousel" class="single-item answer" style="margin-top: 10px;"></div>
					<iframe name="form-iframe" src="about:blank" class="hidden"></iframe>
				</div>
			</div>
			<div class="col-md-4">
				<p> hellooooooo </p>
			</div>
		</div>
	</div>
</div>

	<!-- Modal -->
	<div class="modal fade" id="evidence" tabindex="-1" role="dialog" aria-labelledby="evidenceLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content evidence-modal-content">
				<div class="modal-header evidence-modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="evidenceLabel">Evidence</h4>
				</div>
				<div class="modal-body evidence-modal-body">
					<div class="evidence-title">
						<h3>Title</h3>
					</div>
					<div id="title" class="evidence-content"></div>
					<div class="evidence-title">
						<h3>Text</h3>
					</div>
					<div id="text" class="evidence-content"></div>
					<div class="evidence-title">
						<h3>Copyright</h3>
					</div>
					<div id="copyright" class="evidence-content"></div>
				</div>
			</div>
		</div>
	</div>


	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="jquery/jquery-2.1.0.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="slick/slick.min.js"></script>
	<script src="ladda/spin.min.js"></script>
	<script src="ladda/ladda.min.js"></script>
	<script src="questions.js"></script>
	<script>
        $(function() {
            Divorcesay.App.init();
        });
    </script>

</body>
</html>
