<div class="navbar navbar-inverse navbar-fixed-top">
    <a href="/"><img id="logo" src="media/divorcesay-logo.png"></a>

    <ul class="nav nav-pills" role="tablist" id="top">
        <li role="presentation"><a href="#">About Us</a></li>
        <li role="presentation"><a href="/discounts">Affiliates</a></li>

        <% if (!loggedIn) { %>
            <li role="presentation"><a href="/login">Log In</a></li>
        <% } else { %>
            <li role="presentation"><a href="/logout">Log Out</a></li>
        <% } %>
        

    </ul>

</div>