.main {
    width: 80%;
    height: 80%;
    position: absolute;
    top:0;   bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.answer {
	border:3px solid #ff7373;
	border-bottom-right-radius:1px;
    padding: 20px 10 20px;
    /*opacity: 0.4;*/
    min-width: 600px;
    max-width: 760px;
    color: #fff;
    font-size: 19px;
    background-color: rgba(0, 153, 178, 0.8);
}

.answerContent {
    height: 340px;
    overflow: auto;
    padding: 5px 15px 10px;
}

.confidence {
    padding: 10px 15px 5px;
    color: #eeeeee;
}

.hidden {
    display: none;
}

.evidence-title {
    font-weight: 500;
    color: #000;
}

.evidence-modal-header {
    background: #037E8C; 
    color: #fff;
}

.evidence-modal-body {
    background: #fff; 
    color: #000;
    height:400px;
    overflow: auto;
}

.evidence-content {
	color: #000;
}

.slick-dots li button:before {
    color: white; 
}

#searchTerm {
	min-width: 600px; 
	max-width: 700px;
    background-color: #FFFFFF;
    /*border-radius: 10px; */
    border: #FFBEBE; 
    border-style: solid;
    border-width: 1px;
    -webkit-box-shadow: 0 0 0 1000px white inset;
}
 
#submitSearchTerm {
	color: #eee; 
	background-color: #FF6E6E; 
	vertical-align: middle; 
	border-radius: 5px; 
	border: 2px;
}

.dropDownSampleQuestion {
    color: #eee; 
    background-color: #037E8C; 
    vertical-align: middle; 
    border-radius: 0px; 
    border: 2px;
    height: 61px;
}

#top {
    float: right;
    background: transparent;
}

#right {
    padding-left: 2em;

}

.rightbox {
    background: #666;
    margin-top: 2em;
    padding: 10px;
}

#logo {
    margin: -40px 0 0 -15px;
    width: 45%;
}

video#background-video {
  position: fixed;
  width: auto;
  height: auto;
  right: 0;
  bottom: 0;
  background-size: cover;
}

div#background {
  background-color: #0099b2;
  background-blend-mode: multiply;
  filter: alpha(opacity=60);
  -ms-filter: alpha(Opacity=60);
  -moz-opacity: .6;
  -khtml-opacity: .6;
  opacity: .6;
}

div#cover {
  position: fixed;
  width: 100%;
  height: 100%;
  /*background-image: url(../media/blue.png);*/
  top: 0;
  left: 0;
  background-blend-mode: multiply;
  filter: alpha(opacity=60);
  -ms-filter: alpha(Opacity=60);
  -moz-opacity: .6;
  -khtml-opacity: .6;
  opacity: .4;
}

div#skyline {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url(../media/skyline.jpg);
  background-size: cover;
  top: 0;
  left: 0;
  background-blend-mode: multiply;
  filter: alpha(opacity=80);
  -ms-filter: alpha(Opacity=80);
  -moz-opacity: .8;
  -khtml-opacity: .8;
  opacity: .5;
}


body {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.42857143;
  color: #ffffff;
}

#answerCarousel {
    margin-top: 20px;
}

#evidence0 {
    color: #bbbbbb;
}

.history {
    width: 40%;
    margin: auto;
}

#printButton {
    float: right;
    margin: -3em;
}

#anything { /*named by lucy*/
    margin-top: 5em;
}